.pedidos h1 {
  color: #f2f2f7;
}

.pedido_container {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #8892b0;
}

.pedido_container ul {
  margin: 0;
  padding: 0;
}

.pedido_container ul li {
  padding: 0.3rem;
}
