.pedidos h1 {
  color: #f2f2f7;
}

.pedido-container {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #8892b0;
}

.pedido-container ul {
  margin: 0;
  padding: 0;
}

.pedido-container ul li {
  padding: 0.3rem;
}

.btn-remove {
  color: #8892b0;
  padding: 0.5rem 1rem;
  background: #112240;
  border: 1px solid #8892b0;
}

.btn-remove:hover {
  color: orange;
  border: 1px solid orange;
}
